body {
    font-family: 'Muli', sans-serif;
    padding-top: 0;
}

.primary-color {
    color: #C5A773;
}

.primary-color a {
    color: #C5A773;
}

a {
    color: #C5A773;
}

a:hover {
    color: #a78a5d;
}

.btn-primary {
    background: #C5A773;
    border-color: #a88a5a;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background: #C5A773;
    border-color: #a88a5a;
}

.btn-primary:hover {
    color: #ffffff;
    background: #b99b6a;
    border-color: #a88a5a;
}

.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background: #C5A773;
    border-color: #a88a5a;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background-color: #a88a5a;
}

.navbar-brand {
    float: left;
    padding: 18px 15px;
    font-size: 20px;
    line-height: 25px;
    height: 70px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 8.5px;
        padding-bottom: 8.5px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}

h1 {
    font-family: 'Coming Soon', cursive;
}

/*h2 {
    font-family: 'Coming Soon', cursive;
    font-size: 7vw;
}*/

h1.receipt {
    font-size: 7vw;
}

.receipt-pre-box{
    background: #f8f8f8;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
}

.box-shadow{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.10);
}

small{
    font-size: 75%;
}

small.who-and-when{
    margin-top: -10px;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .mob-inline {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }

    .navbar-fixed-top {
        width: 70px;
        left: inherit;
    }
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* overriden from simple-sidebar.css
    no padding
*/
#page-content-wrapper {
    padding: inherit;
}