==
<?php
    use \Milo\Receipt\Models\Category;

    function onStart()
    {
        $this['category'] = Category::all();
    }
?>
==
<div class="container">
    <div class="row">

        <a href="#menu-toggle" id="menu-toggle" class="navbar-fixed-top">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </a>
        <a class="navbar-brand" href="{{ 'home'|page }}">Eli's Cooking</a>
        {#<a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Toggle Menu</a>#}
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rezepte <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for item in category %}
                            <li><a href="/rezept-kategorien/{{ item.slug }}">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="{% if this.page.id == 'ueber-mich' %}active{% endif %}"><a href="{{ 'ueber-mich'|page }}">Über mich</a></li>
                <li class="{% if this.page.id == 'kontakt' %}active{% endif %}"><a href="{{ 'kontakt'|page }}">Kontakt</a></li>
            </ul>
        </div>
    </div>

</div>