==
<?php
    use \Milo\Receipt\Models\Category;

    function onStart()
    {
        $this['category'] = Category::orderBy('name', 'asc')->get();
    }
?>
==
<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="{{ url('/') }}">
            Eli's Cooking
        </a>
    </li>
    {% for item in category %}
        <li><a href="{{ url('/rezept-kategorien') }}/{{ item.slug }}">{{ item.name }}</a></li>
    {% endfor %}
    <hr>
    <li class="{% if this.page.id == 'ueber-mich' %}active{% endif %}"><a href="{{ 'ueber-mich'|page }}">Über mich</a></li>
    <li class="{% if this.page.id == 'kontakt' %}active{% endif %}"><a href="{{ 'kontakt'|page }}">Kontakt</a></li>
</ul>