title = "Demonstration"
url = "/"
layout = "default"

[receipts]
==
{#<div class="jumbotron">
    <div class="container">
        {% content "welcome.htm" %}
    </div>
</div>#}

<div class="container">

    {#    <div class="page-header">
            <h2>Rezepte
                <small>jüngst hinzugefügt</small>
            </h2>
        </div>#}
    <div class="row">
        {% for receipt in receipts.index.chunk(4) %}
            <div class="col-sm-4">
                {% for item in receipt %}
                    <a href="rezepte/{{ item.slug }}">
                        <img class="img-responsive box-shadow" src="{{ item.picture.path }}"/>
                    </a>
                    <div class="receipt-pre-box">
                        <div class="text-center">
                            <a href="rezepte/{{ item.slug }}">
                                <h2>{{ item.name }}</h2>
                            </a>
                            <small class="who-and-when"><i>Eli am {{ item.created_at|date("d. M. Y") }}</i></small>
                        </div>


                        <p>
                            {{ html_limit(item.intro, 150)|md }}
                        </p>
                        <small><i>
                                gelistet in:
                                {% set counter = 0 %}
                                {% for category in item.category %}
                                    {% set counter = counter + 1 %}
                                    {% if counter > 1 %}
                                        /
                                    {% endif %}
                                    <a href="{{ url('/rezept-kategorien') }}/{{ category.slug }}">{{ category.name }}</a>

                                {% endfor %}</i>
                        </small>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}

    </div>
    <div class="text-center">
        {{ receipts.index.render|raw }}
    </div>
</div>
