title = "Demonstration"
url = "/"
layout = "default"

[receipts]
==
<div class="jumbotron">
    <div class="container">
        {% content "welcome.htm" %}
    </div>
</div>

<div class="container">

    <div class="page-header">
        <h2>Rezepte
            <small>jüngst hinzugefügt</small>
        </h2>
    </div>
    <p>
        Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Quisque velit nisi, pretium
        ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Curabitur arcu erat, accumsan id imperdiet
        et, porttitor at sem.
    </p>

    {% for item in receipts.index %}
        <a href="rezepte/{{ item.slug }}"><h2>{{ item.name }}</h2></a>
        <a href="rezepte/{{ item.slug }}"><img class="img-responsive" src="{{ item.picture.path }}"/></a>
        <p>
        <table class="table">
            <tr>
                <th>Zutaten:</th>
                <th>Menge:</th>
            </tr>
            {% for incredient in item.incredients %}
                <tr>
                    <td>{{ incredient.incredient }}</td>
                    <td>{{ incredient.amount }}{{ incredient.unit }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ html_limit(item.preparation, 150)|raw }}
        <a href="rezepte/{{ item.slug }}"><button class="btn btn-primary">mehr</button></a>
        <br>
        <small>
            gelistet in:
            {% set counter = 0 %}
            {% for category in item.category %}
                {% set counter = counter + 1 %}
                {% if counter > 1 %}
                    /
                {% endif %}
                <a href="{{ url('/rezept-kategorien') }}/{{ category.slug }}">{{ category.name }}</a>

            {% endfor %}
        </small>

        </p>
    {% endfor %}

</div>
