url = "/rezept-kategorien/:slug"
layout = "default"

[categories]
==
<?php
    use \Milo\Receipt\Models\Category;

    function onStart()
    {
        $slug = $this->param('slug');
$this['pagetitle'] = Category::where('slug', $slug)->first();
}
?>
==

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <div class="page-header text-center">
                <h1>{{ pagetitle.name }}</h1>
            </div>
        </div>
    </div>

    {#{{ d(categories.index) }}#}

        {% for receipts in categories.index.chunk(3) %}
            <div class="row">
                {% for receipt in receipts %}
                    <div class="col-sm-4">
                        <a href="{{ url('/rezepte') }}/{{ receipt.slug }}">
                            <img class="img-responsive box-shadow"
                                 src="{{ receipt.picture.thumb(360,360,{'mode':'crop'}) }}"/>
                        </a>
                        <div class="receipt-pre-box">
                            <div class="text-center">
                                <a href="{{ url('/rezepte') }}/{{ receipt.slug }}">
                                    <h2>{{ receipt.name }}</h2>
                                </a>
                                <small class="who-and-when"><i>Eli am {{ receipt.created_at|date("d. M. Y") }}</i>
                                </small>
                            </div>
                            <p>
                                {{ html_limit(receipt.intro, 150)|md }}
                            </p>
                            <small><i>
                                    gelistet in:
                                    {% set counter = 0 %}
                                    {% for category in receipt.category %}
                                        {% set counter = counter + 1 %}
                                        {% if counter > 1 %}
                                            /
                                        {% endif %}
                                        <a href="{{ url('/rezept-kategorien') }}/{{ category.slug }}">{{ category.name }}</a>

                                    {% endfor %}</i>
                            </small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    <div class="text-center">
        {{ receipts.index.render|raw }}
    </div>
</div>
