url = "/rezept-kategorien/:slug"
layout = "default"

[categories]
==
<?php
    use \Milo\Receipt\Models\Category;

    function onStart()
    {
        $slug = $this->param('slug');
        $this['pagetitle'] = Category::where('slug', $slug)->first();
    }
?>
==

<div class="container">

    <div class="page-header">
        <h1>{{ pagetitle.name }}</h1>
    </div>

    {#{{ d(categories.index) }}#}

    {% for item in categories.index %}
        {% for receipt in item.receipt %}
        <a href="rezepte/{{ receipt.slug }}"><h2>{{ receipt.name }}</h2></a>
        <img class="img-responsive" src="{{ receipt.picture.path }}"/>
        <p>
        <table class="table">
        <tr>
            <th>Zutaten:</th>
            <th>Menge:</th>
        </tr>
            {% for incredient in receipt.incredients %}
                <tr>
                    <td>{{ incredient.incredient }}</td>
                    <td>{{ incredient.amount }}{{ incredient.unit }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ receipt.preparation|md }} <br>

        {% for category in receipt.category %}

            <a href="/rezept-kategorien/{{ category.slug }}">{{ category.name }}</a>

        {% endfor %}

        </p>
            {% endfor %}
    {% endfor %}

</div>
