title = "Rezept"
url = "/rezepte/:slug"
layout = "default"

[comments]
==
<?php
    use \Milo\Receipt\Models\Receipt;

    function onInit(){
        $slug = $this->param('slug');
$receipt = new Receipt;
$receipt = $receipt->where('slug', $slug)->with('category');
$this['receipt'] = $receipt->first();
//dd($this['receipt']);
}

function onClick(){
return back();
}
?>
==

<div class="container">
    <img src="{{ receipt.picture.path }}" class="img-responsive"/>
    <div id="printableArea">
        <div class="text-center">
            <h1 class="receipt">{{ receipt.name }}</h1>
        </div>
        <p>
        <blockquote>{{ receipt.intro|md }}</blockquote>
        </p>
        <table class="table table-striped">
            <tr>
                <th>Zutaten:</th>
                <th>Menge:</th>
            </tr>
            {% for incredient in receipt.incredients %}
                <tr>
                    <td>{{ incredient.incredient }}</td>
                    <td>{{ incredient.amount }}{{ incredient.unit }}</td>
                </tr>
            {% endfor %}
        </table>

        <p>{{ receipt.preparation|md }}</p>

        <div>
            <small>
                {% set counter = 0 %}
                {% for category in receipt.category %}
                    {% set counter = counter + 1 %}
                    {% if counter > 1 %}
                        /
                    {% endif %}
                    <a href="{{ url('/rezept-kategorien') }}/{{ category.slug }}">{{ category.name }}</a>

                {% endfor %}
            </small>
        </div>
        <br>
        <div>
            <button class="btn btn-default btn-sm hidden-print" onclick="printDiv('printableArea')"
                    data-request="onClick">
                Rezept drucken
            </button>
        </div>

        <br>

        {% for receipt in comments.showComments %}
            {% if receipt.comment is not empty %}
                <h3>Kommentare:</h3>
                <hr>
            {% endif %}
            {% for comment in receipt.comment %}
                <p class="hidden-print">
                    {{ comment.comment }} <br>
                    <small><i>Kommentar von {{ comment.your_name }} ({{ comment.created_at|time_diff }})</i></small>
                </p>
                <hr>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col-sm-12">
                <h4>Schreib einen Kommentar:</h4>
                <hr>
            </div>
            <form class="hidden-print"
                  data-request="onSend"
                  data-request-validate
                  data-request-flash>

                <div class="alert alert-danger" data-validate-error></div>

                <div class="form-group col-sm-12">
                    <label for="comment">Kommentar</label>
                    <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group col-sm-6">
                    <label for="your_name">Name</label>
                    <input type="text" class="form-control" id="your_name" name="your_name" placeholder="Name">
                </div>
                <div class="form-group col-sm-6">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail">
                </div>
                <div class="form-group col-sm-12">
                    <input type="hidden" id="receipt_id" name="receipt_id" value="{{ receipt.id }}">
                    <button {#data-request="onSubmitComment"#} type="submit" class="btn btn-default">Absenden</button>
                </div>
            </form>
        </div>

    </div>
</div>
