url = "/rezept-kategorien/:slug"
layout = "default"

[categories]
==
<?php
    use \Milo\Receipt\Models\Category;

    function onStart()
    {
        $slug = $this->param('slug');
        $this['pagetitle'] = Category::where('slug', $slug)->first();
    }
?>
==

<div class="container">

    <div class="page-header">
        <h1>{{ pagetitle.name }}</h1>
    </div>

    {#{{ d(categories.index) }}#}

    {% for item in categories.index %}
        {% for receipt in item.receipt %}
        <a href="{{ url('/rezepte') }}/{{ receipt.slug }}"><h2>{{ receipt.name }}</h2></a>
        <img class="img-responsive" src="{{ receipt.picture.path }}"/>
        <p>

            {{ html_limit(receipt.intro, 150)|md }} <br>

        <small>
            {% set counter = 0 %}
            {% for category in receipt.category %}
                {% set counter = counter + 1 %}
                {% if counter > 1 %}
                    /
                {% endif %}
                <a href="{{ url('/rezept-kategorien') }}/{{ category.slug }}">{{ category.name }}</a>

            {% endfor %}
        </small>

        </p>
            {% endfor %}
    {% endfor %}

</div>
